.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.banner-card-item {
  list-style-type: none;
  border: 2px solid #cbced2;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1100px;
}

.heading {
  color: #326a9d;
  font-weight: bold;
  font-family: roboto;
  font-size: 30px;
}

.description {
  color: #326a9d;
  font-size: 20px;
  font-weight: 500;
  font-family: roboto;
}

.button {
  color: #326a9d;
  text-align: center;
  border: 2px solid #326a9d;
  font-size: 15px;
  background-color: #ffffff;
  width: 45px;
}
